.vscode
.idea
*/__pycache__
__pycache__/
**/Results
*.html
*.xml
*.code-workspace
*.log
*.zip
*.png
**/env.resource
chromedriver.exe
Results/log.html
Results/output.xml
Results/report.html
/logs
/logs-massa
node_modules/
test-results/
playwright-report/