*** Variables ***
${BROWSER} =  chrome
${DOCUMENTS_FOLDER} =  C:\\caminho\\para\\unimedprcrm-master\\documents
${DOWNLOADS_FOLDER} =  C:\\Users\\seu_usuario\\Downloads
${CRM_URL} =  http://servidor-crm/crm-qualidade/index.php
${CANAL_URL} =  http://servidor-crm/portal/qualidade/session
${GERADOR_URL} =  http://servidor-crm/gerador.php
${API_URL} =  http://servidor-crm/bridge/api/v1/VendasCRM
${CRM_USER} =  usuario_crm
${CRM_PASSWORD} =  senha_crm
${CRM_USER_NAME} =  Nome exibido no CRM
${CANAL_USER} =  usuario_canal
${CANAL_PASSWORD} =  senha_canal
${API_USER} =  usuario_api
${API_PASSWORD} =  senha_api
${timeout}             60
${short_timeout}       30
${long_timeout}        180
${ultra_timeout}       360