*** Variables ***
${BROWSER} =  chrome
${DOCUMENTS_FOLDER} =  C:\\caminho\\para\\unimedprcrm-master\\documents
${DOWNLOADS_FOLDER} =  C:\\Users\\seu_usuario\\Downloads
${CRM_URL} =  http://servidor-crm/crm-qualidade/index.php
${CANAL_URL} =  http://servidor-crm/portal/qualidade/session
${GERADOR_URL} =  http://servidor-crm/gerador.php
${API_URL} =  http://servidor-crm/bridge/api/v1/VendasCRM
${CRM_USER} =  kautomatico
${CRM_PASSWORD} =  Unimed975@
${CRM_USER_NAME} =  Kiro Automatizador
${CANAL_USER} =  kautomatico
${CANAL_PASSWORD} =  Unimed975@
${API_USER} =  kautomatico
${API_PASSWORD} =  Unimed975@
${timeout}             60
${short_timeout}       30
${long_timeout}        180
${ultra_timeout}       360